<div class="modal-container">
  <div class="card-modal-container" >
    <ng-container *ngFor="let item of modalProductFav" >
      <div class="card border-black shadow-sm bg-light">
        <img [src]="item.image" class="img-thumbnail border-0 mt-2" />
        <div class="card-body bg-body">
          <h6 class="card-title text-black">
            {{ item.title }}
          </h6>
        </div>
      </div>
    </ng-container>
    <div class="empty-container" *ngIf="modalProductFav.length < 1">
      <p>{{emptyFav}}(.)(.)</p>
    </div>
  </div>
</div>
